<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Web Trace Monitor</title>
        <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="../signalr/hubs"></script>
    </head>
    <body>
        @Html.Partial("Header")
        @Html.Partial("Toolbar")
        @RenderBody()
        @Html.Partial("Statusbar")
        @Html.Partial("AboutDialog")
        @Html.Partial("DetailsDialog")
        
        @Scripts.Render("~/bundles/webtracemonitor")
        @RenderSection("scripts", required: false)
    </body>
</html>

